.home-container {
    margin-top: 20px;
}

.double-col {
    display: flex;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow);
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;

}

