.register-container {
    position: relative;
    display: inline-block;
  }
  
  .register-link {
    cursor: pointer;
    color: var(--accent-color);
    text-decoration: none;
  }
  
  .register-link:hover {
    color: var(--accent-color-dark);
  }
  
  /* Style for the dropdown content */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 90%;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 5px; 
  }
  
  .register-container .dropdown-menu {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-menu a {
    color: var(--text-color);
    padding: 10px 0;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    color: var(--accent-color);
  }
  