.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 20px;
  height: 60px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--accent-color);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--text-color);
  font-size: 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--accent-color);
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--text-color);
}

.user-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.user-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.logout-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.user-icon-container:hover .logout-menu {
  display: flex;
  flex-direction: column;
}

.logout-menu a {
  color: var(--text-color);
  text-decoration: none;
}

.logout-menu a:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .nav-links a {
    margin: 10px 0;
    font-size: 1.2rem;
  }

  .auth {
    flex-direction: column;
    gap: 10px;
  }
}