.profile-container {
    max-width: 600px;
    margin: 20rem auto;
    padding: 2rem;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    transition: 0.3s ease;
  }
  
  .profile-container h1 {
    color: var(--accent-color);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .profile-container p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }
  
  .profile-container strong {
    color: var(--accent-color-dark);
  }
  