@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
:root {
  --bg-color: #fdf1f5;
  --accent-color: #ee8e46;
  --accent-color-dark: #df701b;
  --text-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: var(--bg-color); */
  color: var(--text-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* form {
  display: flex;
  flex-direction: column;
  width: fi;
}

label {
  font-weight: 500;
  margin-bottom: 8px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}


input[type="text"]:focus {
  border-color: var(--accent-color);
  outline: none;
} */


.title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--accent-color);
  margin-bottom: 20px;
  text-align: center;
}

