@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --bg-color: #fdf1f5;
  --accent-color: #ee8e46;
  --accent-color-dark: #df701b;
  --text-color: #333;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --button-text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: var(--bg-color); */
  color: var(--text-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color-dark);
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--accent-color);
  margin-bottom: 20px;
  text-align: center;
}

