@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --bg-color: #fdf1f5;
  --accent-color: #ee8e46;
  --accent-color-dark: #df701b;
  --text-color: #333;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --input-boder-shadow: 0 0 5px rgba(238, 142, 70, 0.5);
  --button-text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  
  color: var(--text-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/* form styling */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 500px;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}
.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: var(--input-boder-shadow);
}
/* Button styling */
button {
  width: 100%;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 16px;
  color: var(--button-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--accent-color-dark);
}

.double-btn {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}

/* Auth */
.auth {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.auth a {
  color: var(--button-text-color);
}

.auth button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.auth button:hover {
  background-color: var(--accent-color-dark);
}

/* Drop downs */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 250px;
  border-radius: 4px;
  z-index: 1000;
}

.auth:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}
.dropdown-menu a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 0;
}
.dropdown-menu a:hover {
  color: var(--accent-color);
}

/* Dashboard */

.pet-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 20px;
  max-width: 100%;
  padding: 0 20px;
}

.pet-card {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, border 0.3s ease;
}

.pet-card:hover {
  border: 2px solid var(--accent-color);
  transform: scale(1.05);
}


.pet-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pet-card p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .form {
      margin-top: 20px;
      padding: 0 20px;
  }

  .form-input {
      width: 100%;
      max-width: none;
  }

  button {
      width: 100%;
      max-width: none;
  }
}